<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    用户名：<input type="text" name="username" ><br>
    密&nbsp;&nbsp;码：<input type="password" name="password"><br>
    年&nbsp;&nbsp;龄：<input type="text" name="age"><br>
    Email：<input type="text" name="email">
    <input type="submit" th:value="注册">
</form>
<!--<script type="text/javascript">-->
    <!--function addUser() {-->
        <!--var form = document.forms[0];-->
        <!--form.action = "register";-->
        <!--form.method = "post";-->
        <!--form.submit();-->
    <!--}-->
<!--</script>-->
</body>
</html>